workflow-telegram-chatbot.json
{
  "name": "kadun-chatbot-clima",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -576,
        -16
      ],
      "id": "60cf00e7-8374-476a-8dcc-202c7c562c0a",
      "name": "Telegram Trigger",
      "webhookId": "8ce7ce9e-2585-419c-ac81-16099fd45071",
      "credentials": {
        "telegramApi": {
          "id": "LdIRtSBqyrErIoEZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.queue }}"
            },
            {
              "name": "lang",
              "value": "pt_br"
            },
            {
              "name": "units",
              "value": "metric"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        16,
        -16
      ],
      "id": "dba4f1bf-4ae6-40a9-807d-f9732c34b247",
      "name": "HTTP Request (OpenWeather)",
      "credentials": {
        "httpQueryAuth": {
          "id": "VFp6ueUtHMMMzOpv",
          "name": "OpenWeatherToken"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dea9c22f-10e3-4904-8ac2-5039a6177361",
              "name": "chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "string"
            },
            {
              "id": "f1e787e4-d297-42e2-b063-781687e6f351",
              "name": "queue",
              "value": "={{ $json.queue.toLowerCase().replaceAll(', ',',').replaceAll(' ,',',') }},br",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        -16
      ],
      "id": "e4f149d0-59fd-4a88-bd62-690346af8bd9",
      "name": "Data Sanitization"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bf2242bc-44ed-4767-85d6-fb0684c12441",
              "leftValue": "={{ $json.main.temp }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        -112
      ],
      "id": "cd027f31-345d-4065-9096-5038791e074f",
      "name": "Return Data Check"
    },
    {
      "parameters": {
        "chatId": "={{ $('Data Sanitization').item.json.chat_id }}",
        "text": "=🌤️ A temperatura em {{ $('HTTP Request (OpenWeather)').item.json.name }} é de {{ Math.round($json.main.temp) }}ºC, com sensação térmica de {{ Math.round($json.main.feels_like) }}ºC e humidade relativa do ar em {{ $json.main.humidity }}%",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        -176
      ],
      "id": "6b0b634f-abb9-4de8-97c7-557b0dffe51c",
      "name": "Success Message",
      "webhookId": "d1d15bd1-0dc4-4827-8e65-1eaca32206f4",
      "credentials": {
        "telegramApi": {
          "id": "LdIRtSBqyrErIoEZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Data Sanitization').item.json.chat_id }}",
        "text": "=❌ Desculpe, não foi possível consulta o clima para \"{{ $('Telegram Trigger').item.json.message.text }}\". Tente novamente informando um nome e a UF válidos de uma cidade brasileira. Exemplo: \"Campinas, SP\"",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        272
      ],
      "id": "af80a067-8154-4ccf-962a-c5e8419ff889",
      "name": "HTTP Error Message",
      "webhookId": "de593980-965b-421a-b8dd-617b5f0e0917",
      "credentials": {
        "telegramApi": {
          "id": "LdIRtSBqyrErIoEZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Data Sanitization').item.json.chat_id }}",
        "text": "=❌ Desculpe, não conheço a cidade \"{{ $('Telegram Trigger').item.json.message.text }}\". Me informe o nome e a UF de uma cidade brasileira. Exemplo: \"Campinas, SP\"",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        64
      ],
      "id": "a1fc369d-3acd-4ffa-b546-053ad63237f6",
      "name": "No Data Error Message",
      "webhookId": "de593980-965b-421a-b8dd-617b5f0e0917",
      "credentials": {
        "telegramApi": {
          "id": "LdIRtSBqyrErIoEZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "message.chat.id",
              "newKey": "chat_id"
            },
            {
              "currentKey": "message.text",
              "newKey": "queue"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        -368,
        -16
      ],
      "id": "7aba692e-b06e-4357-b084-765f9ec710da",
      "name": "Data Rename"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "DataTableOpenWeatherCitiesSearch",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        960,
        -176
      ],
      "id": "989f259f-772b-47eb-92cd-ccafc1ce52a8",
      "name": "Log City Search Weather"
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "DataTableOpenWeatherCitiesSearch",
        "columns": {
          "column": [
            {
              "name": "city"
            },
            {
              "name": "country"
            }
          ]
        },
        "options": {
          "createIfNotExists": true
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        640,
        -176
      ],
      "id": "9479c22a-523c-49a9-b7bb-637994a0cff4",
      "name": "Create DataTable (If not exist)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bab2e5f2-3059-461d-b066-4df2be872422",
              "name": "city",
              "value": "={{ $('Return Data Check').item.json.name }}",
              "type": "string"
            },
            {
              "id": "496d3af7-2793-48ea-bc71-a03e0ea5e330",
              "name": "country",
              "value": "={{ $('Return Data Check').item.json.sys.country }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -176
      ],
      "id": "22b46974-9441-42fa-bef3-9f4c7f94e66e",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Data Rename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (OpenWeather)": {
      "main": [
        [
          {
            "node": "Return Data Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Sanitization": {
      "main": [
        [
          {
            "node": "HTTP Request (OpenWeather)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Data Check": {
      "main": [
        [
          {
            "node": "Success Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Data Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Rename": {
      "main": [
        [
          {
            "node": "Data Sanitization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Message": {
      "main": [
        [
          {
            "node": "Create DataTable (If not exist)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create DataTable (If not exist)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Log City Search Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "f75ede17-1968-45f0-8946-a8efdfe21834",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e3a9168965547120106d9b68d96d36644e894f101e8b240184fe6006e8053a0"
  },
  "id": "W7IdD9v34ORUyG43",
  "tags": [
    {
      "updatedAt": "2026-02-16T07:40:42.043Z",
      "createdAt": "2026-02-16T07:40:42.043Z",
      "id": "8b6SiVE6yq72BzM6",
      "name": "Testes"
    }
  ]
}